<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dita</title>
  <meta name="description" content="Something">
  <meta name="author" content="Charlie">

  

</head>

<body>
 

FOO

<a href="/data.json">DOWNLOAD</a>

</body>
</html>